:root {
  --based-color: #ef9e1d;
  --primary-color: #18a037;
  --primary-color-hover: #079529;
  --primary-color-light: #9eeb47;
  --secondary-color: #89e4b5;
  --text-dark: #020617;
  --text-light: #8995a7;
  --text-light2: rgb(83, 81, 81);
  --alt-color: #c8d1df;
  --white: #ffffff;
  --max-width: 1200px;
  --maintyTsara: #000;
  --tonga: #18a037;
  --tsyTonga: #cd0000;
  --bgSecondary: #6c757d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  /* CSS body couleur GRAY */
html {
  background-color: rgba(193, 192, 192, 0.5);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.teteDeModale {
  background-color: var(--bgSecondary);
  color: var(--white);
}
.teteDeModale .titreTete {
  color: var(--white);
}
