# igonre tout les node_modules
**/node_modules/

# Ignore specific directories  
**/.env
**/build/
**/power.bat 
**/Warehouse/capteurs
**/init_projet.py

# Ignorer tous les fichiers Excel dans le dossier actuel
*.xls
*.xlsx